Options +FollowSymlinks
Options -MultiViews
#Multiviews is for GoDaddy

RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,NC,L]

#RewriteCond %{REQUEST_URI} !/updating.php$
#RewriteCond %{REMOTE_HOST} !^75\.1\.59\.38
#RewriteRule $ /updating.php [R=302,L]

DirectoryIndex main.php

RewriteRule ^panel/?$ panel/main.php [NC]
RewriteRule ^profile/([A-Za-z0-9\.]+)/?$ panel/profile.php?profile=$1 [NC]
RewriteRule ^accessdenied/?$ -.php?accessdenied [NC]

#Pages
RewriteRule ^about-us/?$ page.php?page=about-us [NC]
RewriteRule ^academic-committee/?$ page.php?page=academic-committee [NC]
RewriteRule ^academic-policies/?$ page.php?page=academic-policies [NC]
RewriteRule ^academic-support/?$ page.php?page=academic-support [NC]
RewriteRule ^academics/?$ page.php?page=academics [NC]
RewriteRule ^academy-advancement-endowment-liaison-committee/?$ page.php?page=academy-advancement-endowment-liaison-committee [NC]
RewriteRule ^additional-resources/?$ page.php?page=additional-resources [NC]
RewriteRule ^admissions/?$ page.php?page=admissions [NC]
RewriteRule ^admissions-application/?$ page.php?page=admissions-application [NC]
RewriteRule ^admissions-process/?$ page.php?page=admissions-process [NC]
#RewriteRule ^after-school-study/?$ page.php?page=after-school-study [NC]
RewriteRule ^alumni/?$ page.php?page=alumni [NC]
RewriteRule ^alumni-fun-facts/?$ page.php?page=alumni-fun-facts [NC]
RewriteRule ^annual-fund/?$ page.php?page=annual-fund [NC]
RewriteRule ^athletic-boosters/?$ page.php?page=athletic-boosters [NC]
RewriteRule ^athletics/?$ page.php?page=athletics [NC]
RewriteRule ^audit-benefits-and-insurance-committee/?$ page.php?page=audit-benefits-and-insurance-committee [NC]
RewriteRule ^band/?$ page.php?page=band [NC]
RewriteRule ^band-boosters/?$ page.php?page=band-boosters [NC]
RewriteRule ^board-of-directors/?$ page.php?page=board-of-directors [NC]
RewriteRule ^buildings-and-grounds-committee/?$ page.php?page=buildings-and-grounds-committee [NC]
RewriteRule ^bus/?$ page.php?page=bus [NC]
RewriteRule ^business/?$ page.php?page=business [NC]
RewriteRule ^bylaws/?$ page.php?page=bylaws [NC]
RewriteRule ^calendar/?$ page.php?page=calendar [NC]
RewriteRule ^campus-ministry/?$ page.php?page=campus-ministry [NC]
RewriteRule ^campus-safety?$ page.php?page=campus-safety [NC]
RewriteRule ^champagnat/?$ page.php?page=champagnat [NC]
RewriteRule ^choir/?$ page.php?page=choir [NC]
RewriteRule ^civic-youth-group/?$ page.php?page=civic-youth-group [NC]
RewriteRule ^class-agent-contact/?$ page.php?page=class-agent-contact [NC]
RewriteRule ^class-news/?$ page.php?page=class-news [NC]
RewriteRule ^committee-description-and-members/?$ page.php?page=committee-description-and-members [NC]
RewriteRule ^community-prayer-breakfast/?$ page.php?page=community-prayer-breakfast [NC]
RewriteRule ^computer-science/?$ page.php?page=computer-science [NC]
RewriteRule ^contact/?$ page.php?page=contact [NC]
RewriteRule ^crisis-management/?$ page.php?page=crisis-management [NC]
RewriteRule ^debate-team/?$ page.php?page=debate-team [NC]
RewriteRule ^departments/?$ page.php?page=departments [NC]
RewriteRule ^drama-club/?$ page.php?page=drama-club [NC]
RewriteRule ^employment-opportunities/?$ page.php?page=employment-opportunities [NC]
RewriteRule ^english/?$ page.php?page=english [NC]
RewriteRule ^enrollment-history/?$ page.php?page=enrollment-history [NC]
RewriteRule ^executive-committee/?$ page.php?page=executive-committee [NC]
#RewriteRule ^faculty-tutors/?$ page.php?page=faculty-tutors [NC]
RewriteRule ^faq/?$ page.php?page=faq [NC]
RewriteRule ^finance-fiscal-and-financial-aid-oversight-fund-management-committee/?$ page.php?page=finance-fiscal-and-financial-aid-oversight-fund-management-committee [NC]
RewriteRule ^financial-assistance/?$ page.php?page=financial-assistance [NC]
RewriteRule ^fine-arts/?$ page.php?page=fine-arts [NC]
RewriteRule ^fishing-club/?$ page.php?page=fishing-club [NC]
RewriteRule ^french-honor-society/?$ page.php?page=french-honor-society [NC]
RewriteRule ^fun-facts/?$ page.php?page=fun-facts [NC]
RewriteRule ^golf-tournament/?$ page.php?page=golf-tournament [NC]
RewriteRule ^grade-level-research/?$ page.php?page=grade-level-research [NC]
RewriteRule ^graduation-outcomes/?$ page.php?page=graduation-outcomes [NC]
RewriteRule ^green-team/?$ page.php?page=green-team [NC]
RewriteRule ^guidance-counseling/?$ page.php?page=guidance-counseling [NC]
RewriteRule ^high-baseball/?$ page.php?page=high-baseball [NC]
RewriteRule ^high-basketball/?$ page.php?page=high-basketball [NC]
RewriteRule ^high-cheerleading/?$ page.php?page=high-cheerleading [NC]
RewriteRule ^high-cross-country/?$ page.php?page=high-cross-country [NC]
RewriteRule ^high-football/?$ page.php?page=high-football [NC]
RewriteRule ^high-golf/?$ page.php?page=high-golf [NC]
RewriteRule ^high-school/?$ page.php?page=high-school [NC]
RewriteRule ^high-soccer/?$ page.php?page=high-soccer [NC]
RewriteRule ^high-swimming-diving/?$ page.php?page=high-swimming-diving [NC]
RewriteRule ^high-tennis/?$ page.php?page=high-tennis [NC]
RewriteRule ^high-track-field/?$ page.php?page=high-track-field [NC]
RewriteRule ^history/?$ page.php?page=history [NC]
RewriteRule ^honors-ap/?$ page.php?page=honors-ap [NC]
RewriteRule ^international-thespians/?$ page.php?page=international-thespians [NC]
RewriteRule ^jr-basketball/?$ page.php?page=jr-basketball [NC]
RewriteRule ^jr-cross-country/?$ page.php?page=jr-cross-country [NC]
RewriteRule ^jr-football/?$ page.php?page=jr-football [NC]
RewriteRule ^jr-high-school/?$ page.php?page=jr-high-school [NC]
RewriteRule ^jr-swimming/?$ page.php?page=jr-swimming [NC]
RewriteRule ^jr-track/?$ page.php?page=jr-track [NC]
RewriteRule ^jr-volleyball/?$ page.php?page=jr-volleyball [NC]
RewriteRule ^key-information/?$ page.php?page=key-information [NC]
RewriteRule ^leadership-circle/?$ page.php?page=leadership-circle [NC]
RewriteRule ^library/?$ page.php?page=library [NC]
RewriteRule ^lunch/?$ page.php?page=lunch [NC]
RewriteRule ^marist-schools/?$ page.php?page=marist-schools [NC]
RewriteRule ^marist-youth/?$ page.php?page=marist-youth [NC]
RewriteRule ^masterminds/?$ page.php?page=masterminds [NC]
RewriteRule ^mathematics/?$ page.php?page=mathematics [NC]
RewriteRule ^mission-statement/?$ page.php?page=mission-statement [NC]
RewriteRule ^missions/?$ page.php?page=missions [NC]
RewriteRule ^model-un/?$ page.php?page=model-un [NC]
RewriteRule ^montagne-project/?$ page.php?page=montagne-project [NC]
RewriteRule ^national-art-honor-society/?$ page.php?page=national-art-honor-society [NC]
RewriteRule ^national-honor-society/?$ page.php?page=national-honor-society [NC]
RewriteRule ^national-junior-art-honor-society/?$ page.php?page=national-junior-art-honor-society [NC]
RewriteRule ^national-junior-honor-society/?$ page.php?page=national-junior-honor-society [NC]
RewriteRule ^network/?$ page.php?page=network [NC]
RewriteRule ^nominations-succession-governance-committee/?$ page.php?page=nominations-succession-governance-committee [NC]
RewriteRule ^office-of-the-president/?$ page.php?page=office-of-the-president [NC]
RewriteRule ^office-of-the-principal/?$ page.php?page=office-of-the-principal [NC]
RewriteRule ^online-giving/?$ page.php?page=online-giving [NC]
RewriteRule ^parents/?$ page.php?page=parents [NC]
RewriteRule ^paw/?$ page.php?page=paw [NC]
RewriteRule ^peer-tutors/?$ page.php?page=peer-tutors [NC]
RewriteRule ^philanthropy-report/?$ page.php?page=philanthropy-report [NC]
RewriteRule ^photo-sharing/?$ page.php?page=photo-sharing [NC]
RewriteRule ^physical-education/?$ page.php?page=physical-education [NC]
RewriteRule ^policies/?$ page.php?page=policies [NC]
RewriteRule ^positive-peer/?$ page.php?page=positive-peer [NC]
RewriteRule ^religious-studies/?$ page.php?page=religious-studies [NC]
RewriteRule ^reunion-info/?$ page.php?page=reunion-info [NC]
RewriteRule ^save-our-gym/?$ page.php?page=save-our-gym [NC]
RewriteRule ^school-administration/?$ page.php?page=school-administration [NC]
RewriteRule ^school-life-and-faculty-relations-committee/?$ page.php?page=school-life-and-faculty-relations-committee [NC]
RewriteRule ^school-profile/?$ page.php?page=school-profile [NC]
RewriteRule ^school-year-dates/?$ page.php?page=school-year-dates [NC]
RewriteRule ^science/?$ page.php?page=science [NC]
RewriteRule ^science-quad-project/?$ page.php?page=science-quad-project [NC]
RewriteRule ^shadow-program/?$ page.php?page=shadow-program [NC]
RewriteRule ^sja-endowment/?$ page.php?page=sja-endowment [NC]
RewriteRule ^social-studies/?$ page.php?page=social-studies [NC]
RewriteRule ^sociedad-honoraria-hispanica/?$ page.php?page=sociedad-honoraria-hispanica [NC]
RewriteRule ^special-events/?$ page.php?page=special-events [NC]
RewriteRule ^st-joe-life/?$ page.php?page=st-joe-life [NC]
RewriteRule ^strategic-plan/?$ page.php?page=strategic-plan [NC]
RewriteRule ^strategic-planning-and-mission-effectiveness-committee/?$ page.php?page=strategic-planning-and-mission-effectiveness-committee [NC]
RewriteRule ^student-advocate-services/?$ page.php?page=student-advocate-services [NC]
RewriteRule ^student-council/?$ page.php?page=student-council [NC]
RewriteRule ^student-parent-handbook/?$ page.php?page=student-parent-handbook [NC]
RewriteRule ^students/?$ page.php?page=students [NC]
RewriteRule ^style-show/?$ page.php?page=style-show [NC]
RewriteRule ^summer-reading/?$ page.php?page=summer-reading [NC]
RewriteRule ^support/?$ page.php?page=support [NC]
RewriteRule ^sweethearts-dance-team/?$ page.php?page=sweethearts-dance-team [NC]
RewriteRule ^target-language/?$ page.php?page=target-language [NC]
RewriteRule ^taste-of-the-town/?$ page.php?page=taste-of-the-town [NC]
RewriteRule ^teacher-recommendation/?$ page.php?page=teacher-recommendation [NC]
RewriteRule ^tuition/?$ page.php?page=tuition [NC]
RewriteRule ^uniform-regulations/?$ page.php?page=uniform-regulations [NC]
RewriteRule ^ways-to-give/?$ page.php?page=ways-to-give [NC]
RewriteRule ^welcome/?$ page.php?page=welcome [NC]
RewriteRule ^writing-portfolio/?$ page.php?page=writing-portfolio [NC]
RewriteRule ^yearbook/?$ page.php?page=yearbook [NC]


# Removes PHP extension & force a trailing slash to be added
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/$ /$1.php
RewriteRule ^([^/]+)/([^/]+)/$ /$1/$2.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
RewriteRule (.*)$ /$1/ [R=301,L]

ErrorDocument 404 /-.php?404

php_flag  log_errors on
php_value error_log  PHP_errors.log

<Files .htaccess>
order allow,deny
deny from all
</Files>